@tailwind base;
@tailwind components;
@tailwind utilities;
 

.home_shadow{
    text-shadow: 0px 2px #a772fd;
    
}
.about_text_shadow{
    text-shadow: 0px 2px #f1c40f;
}
.about_shadow{
    box-shadow: 15px -15px #1d4542;
}

.project_text_shadow{
    text-shadow: 0px 2px #bc67ce ;
}

.services_text_shadow{
    text-shadow: 0px 3px #67c0ce ;
}
.contact_text_shadow{
    text-shadow: 0px 2px #2fce84 ;
    
}

@media (min-width: 640px) { 
    .home_shadow{
        text-shadow: 0px 3px #a772fd;
        
    }
    .about_text_shadow{
        text-shadow: 0px 3px #f1c40f;
    }
    .project_text_shadow{
        text-shadow: 0px 3px #bc67ce ;
    }
    
    .services_text_shadow{
        text-shadow: 0px 3px #67c0ce ;
    }
    .contact_text_shadow{
        text-shadow: 0px 3px #2fce84 ;
        
    }
 }

 @media (min-width: 768px) { 
    .home_shadow{
        text-shadow: 0px 4px #a772fd;
        
    }
    .about_text_shadow{
        text-shadow: 0px 4px #f1c40f;
    }
    .project_text_shadow{
        text-shadow: 0px 4px #bc67ce ;
    }
    
    .services_text_shadow{
        text-shadow: 0px 4px #67c0ce ;
    }
    .contact_text_shadow{
        text-shadow: 0px 4px #2fce84 ;
        
    }
 }

 
 @media (min-width: 1024px) { 
    .home_shadow{
        text-shadow: 0px 5px #a772fd;
        
    }
    .about_text_shadow{
        text-shadow: 0px 5px #f1c40f;
    }
    .project_text_shadow{
        text-shadow: 0px 5px #bc67ce ;
    }
    
    .services_text_shadow{
        text-shadow: 0px 5px #67c0ce ;
    }
    .contact_text_shadow{
        text-shadow: 0px 5px #2fce84 ;
        
    }
 }


  ::-webkit-scrollbar{
    width: 8px;
    /* background-color: rgb(82, 82, 82); */
 }

 ::-webkit-scrollbar-thumb{
    width: 8px;
    background-color:  rgb(124, 118, 118);
    border-radius: 10px;
 } 

 /* sppinner */
 .lds-grid {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-grid div {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #2fce84;
    animation: lds-grid 1.2s linear infinite;
  }
  .lds-grid div:nth-child(1) {
    top: 8px;
    left: 8px;
    animation-delay: 0s;
  }
  .lds-grid div:nth-child(2) {
    top: 8px;
    left: 32px;
    animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(3) {
    top: 8px;
    left: 56px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(4) {
    top: 32px;
    left: 8px;
    animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(5) {
    top: 32px;
    left: 32px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(6) {
    top: 32px;
    left: 56px;
    animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(7) {
    top: 56px;
    left: 8px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(8) {
    top: 56px;
    left: 32px;
    animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(9) {
    top: 56px;
    left: 56px;
    animation-delay: -1.6s;
  }
  @keyframes lds-grid {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }